%p 
  Copyright 2007 
  = link "The Alexandria Project", "http://alexandria.rubyforge.org"
%p 
  SVN and files graciously hosted by 
  = link "RubyForge", "http://www.rubyforge.org"
  !
%p 
  Related links: 
  = link "GNU Directory", "http://directory.fsf.org/All_Packages_in_Directory/alexandria.html http://www.gnu.org/directory/All_Packages_in_Directory/alexandria.html" 
  , 
  = link "RAA", "http://raa.ruby-lang.org/project/alexandria"
  ,
  = link "Freshmeat", "http://freshmeat.net/projects/alexandria_book_collection_manager/"
  ,
  = link "GnomeFiles.", "http://www.gnomefiles.org/app.php?soft_id=110"
%p 
  <a href="http://jigsaw.w3.org/css-validator/check/referer"> <img border="0" width="88px" height="31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!"/></a>
  <a href="http://www.ruby-lang.org"><img border="0" src="images/powered_by_ruby.png" alt="powered by ruby!"/></a>
