%ul.menu
  %li
    = link "Home", "/index.html"
  %li
    = link "Features", "/features.html"
  %li
    = link "Feedback", "/feedback.html"
  %li
    = link "Download", "/download.html"
  %li
    = link "Development", "/development.html"
